.Container{
    height: 60px;
    width: 100%;
    
    
    
}

.Wrapper{
    padding: 10px 20px;
    width: 100%;
    display: flex;
    min-width: 380px;
    align-items: center;
    justify-content: space-around;
}

.Left{
    flex: 1;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    
}

.Center{
    flex: 1;
    text-align: center;
    
}

.Right{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    justify-content: space-evenly;
    
}

.Language{
    font-size: 14px;
    cursor: pointer;
}

.SearchContainer{
    border: 1px solid lightslategray;
    display: flex;
    align-items: center;
    margin-left: 25px;
    padding: 5px;
}

.SearchInput{
    border: none;
    
    
    

}

.TitleLogo{
    font-weight: bold;
}

.MenuItem{
    font-size: 14px;
}


